*.whl
*.tar.gz
*.swp
*.swo
*.pyc
__pycache__
*.sqlite3
*.sql
settings*.json
tracking/celerybeat-schedule
media/
*Zone.Identifier
!config/*
.DS_Store
tracking/test.py
node_modules/
package-lock.json
launch.json
*.log
.python-version
package.json
tracking/.vscode/launch.json
.idea/
